
body{
    width: 10rem;
    margin: auto;
}
*{
    margin: 0;
    padding: 0;
}
/*header开始*/
.header_one{
    width: 10rem;
    height: 1.1rem;
    background: #fe5400 url("../img/tao.png") no-repeat 0.12rem;
    background-size: 0.84rem 0.69rem;
    position: fixed;
    z-index:1111;
}
.header_one a{
    position: absolute;
    width: 8.7rem;
    height: 0.77rem;
    background: #b52600;
    right: 0.2rem;
    top: 0.2rem;;
    border-radius: 0.12rem;
    text-align: center;
    line-height: 0.77rem;
    display: block;
    font-size: 13px;
    color: #fff;
    font-style:normal;
}
[data-dpr="2"] header .header_one a{
    font-size: 26px;
}
[data-dpr="3"] header .header_one a{
    font-size: 39px;
}
.header_one a i{
    font-size: 13px;
}
[data-dpr="2"] header .header_one a i{
    font-size: 26px;
}
[data-dpr="3"] header .header_one a i{
    font-size: 39px;
}
/*header结束*/

/*轮播开始*/
.lunbotu{
    width: 10rem;
    height: 3rem;
    padding-top: 1rem;
}
.lunbotu .swiper-container{
    width: 10rem;
    height: 3rem;
}
.lunbotu .swiper-container img{
    width: 10rem;
    display: block;
}
/*轮播结束*/
/*图标开始*/
.header_two{
    width: 10rem;
    height: 5.56rem;
    margin-top: 0.5rem;
}
.header_two .header_two_top{
    width: 10rem;
    height: 2.25rem;
}
.header_two .header_two_top ul li{
    width: 2rem;
    height: 2.25rem;
    float: left;
    line-height: 0.7rem;
}
.header_two .header_two_top ul li span{
    width: 1.813rem;
    height: 0.688rem;
    text-align: center;
    clear: both;
    display: block;
    line-height: 0.688rem;
}
.header_two .header_two_top ul li img{
    width: 1.8rem;
    height:1.3rem;
    float: left;
}
.header_two .header_two_center{
    width: 10rem;
    height: 2.25rem;
}
.header_two .header_two_center ul li{
    width: 2rem;
    height: 2.5rem;
    float: left;
    line-height: 0.7rem;
}
.header_two .header_two_center ul li span{
    width: 1.813rem;
    height: 0.688rem;
    text-align: center;
    clear: both;
    display: block;
    line-height: 0.688rem;
}

.header_two .header_two_center ul li img{
    width: 1.8rem;
    height:1.3rem;
    float: left;
}

/*淘宝头条*/
.header_one_bottom{
    width: 10rem;
    height: 0.76rem;
    border-top:1px solid #e5e5e5;
    margin-top: 0.4rem
}
.header_one_bottom .taobao{
    background: #ffffff url(../img/TBTT.png ) no-repeat;
    background-size: 1.49rem 0.48rem;
    width: 1.49rem;
    height: 0.48rem;
    float: left;
    margin-left: 0.6rem;
    margin-top: 0.26rem;
    margin-right: 0.3rem;
}
.header_one_bottom .swiper-container{
    width: 7rem;
    height: 0.5rem;
    float: left;
    line-height: 0.5rem;
    border-left: 1px solid red;
    margin-top: 0.23rem;
    padding-left: 0.2rem;
    font-size: 13px;
}
.header_one_bottom .swiper-container span{
    display: inline-block;
    width: 1.04rem;
    height: 0.46875rem;
    line-height: 0.5rem;
    border: 1px solid rgb(216, 20, 33);
    border-radius: 0.125rem;
    color: rgb(216, 20, 33);
    text-align: center;
}
[data-dpr="2"] .header_one_bottom .swiper-container{
    font-size: 26px;
}
[data-dpr="3"] .header_one_bottom .swiper-container{
    font-size: 39px;
}
/*图标结束*/

/*抢购界面开始*/

 .qianggou{
     width: 10rem;
     background: #eeeeee;
     height: 4.2rem;
     margin-top: 0.4rem;
 }
 .qianggou .qianggou_left{
     width: 3.77rem;
     margin-top: 0.1333rem;
     float: left;
     background: url("../img/qianggou1.jpg");
     background-size: 100% 100%;
     height: 5.047rem;
 }
.qianggou .qianggou_right{
    float: left;
    padding-top: 0.1333rem;
    width: 6rem;
    margin-left: 0.1rem;
}
.qianggou_right_one{
    float: left;
    width: 3rem;
    height: 2.5rem;
    background: url("../img/youhao.jpg");
    background-size: 100% 100%;
}
.qianggou_right_two{
    float: left;
    width: 3rem;
    height: 2.5rem;
    background: url("../img/huazhuang.png");
    background-size: 100% 100%;
}
.qianggou_right_top{
    width: 6rem;
    height: 2.5rem;
}
.qianggou_right_bottom{
    width: 6rem;
    height: 2.5rem;
}
.qianggou_right_bottom_left{
    float: left;
    width: 3rem;
    height: 2.5rem;
    background: url("../img/guangjie.jpg");
    background-size: 100% 100%;
}
.qianggou_right_bottom_right{
    background: url("../img/qianggou1.jpg");
    background-size: 100% 100%;
    float: left;
    width: 2.9817rem;
    height: 2.5rem;
}
/*抢购界面结束*/

/*超实惠开始*/
.chaoshihui{
    width: 10rem;
    height: 6.676rem;
    background: #eeeeee;
    padding-top: 1.1rem;
}
.shihui_top{
    width: 10rem;
    height: 0.844rem;
    background: #ffffff;;
    text-align: center;
    font-size: 13px;
}
.shihui_top a{
    color: red;
    line-height: 0.8rem;
    text-align: center;
}
[data-dpr="2"] .shihui_top{
    font-size: 26px;
}
[data-dpr="3"] .shihui_top{
    font-size: 39px;
}
.shihui_centet{
    width: 10rem;
    height: 2.916rem;
}
.shihui_centet ul li:nth-child(1){
     width: 3.828rem;
     height: 2.916rem;
     float: left;
     background: url("../img/S1.jpg");
     background-size: 100% 100%;
 }
.shihui_centet ul li:nth-child(2){
    width: 2.057rem;
    height: 2.916rem;
    float: left;
    background: url("../img/S2.png");
    background-size: 100% 100%;
}
.shihui_centet ul li:nth-child(3){
    width: 2.057rem;
    height: 2.916rem;
    float: left;
    background: url("../img/S3.png");
    background-size: 100% 100%;
}
.shihui_centet ul li:nth-child(4){
    width: 2.057rem;
    height: 2.916rem;
    float: left;
    background: url("../img/S4.jpg");
    background-size: 100% 100%;
}
.shihui_bottom{
    width: 10rem;
    height: 2.916rem;
}
.shihui_bottom ul li:nth-child(1){
    width: 3.828rem;
    height: 2.916rem;
    float: left;
    background: url("../img/X1.png");
    background-size: 100% 100%;
}
.shihui_bottom ul li:nth-child(2){
    width: 2.057rem;
    height: 2.916rem;
    float: left;
    background: url("../img/X2.jpg");
    background-size: 100% 100%;
}
.shihui_bottom ul li:nth-child(3){
    width: 2.057rem;
    height: 2.916rem;
    float: left;
    background: url("../img/X3.jpg");
    background-size: 100% 100%;
}
.shihui_bottom ul li:nth-child(4){
    width: 2.057rem;
    height: 2.916rem;
    float: left;
    background: url("../img/X4.png");
    background-size: 100% 100%;
}
/*超实惠结束*/
/*天猫必选开始*/
.tianmaobiguang{
    width: 10rem;
    height: 6.676rem;
    background: #eeeeee;
}
.tianmaobiguang_top{
    width: 10rem;
    height: 0.844rem;
    background: #ffffff;;
    text-align: center;
    font-size: 13px;
    line-height:0.844rem;
}
.tianmaobiguang_top a{
    color: red;
    text-align: center;
}
[data-dpr="2"] .tianmaobiguang_top{
    font-size: 26px;
}
[data-dpr="3"] .tianmaobiguang_top{
    font-size: 39px;
}
.tianmaobiguang_centet ul li:nth-child(1){
    width: 5rem;
    height: 2.922rem;
    float: left;
    background: url("../img/E1.png");
    background-size: 100% 100%;
}
.tianmaobiguang_centet ul li:nth-child(2){
    width: 5rem;
    height: 2.922rem;
    float: left;
    background: url("../img/E2.png");
    background-size: 100% 100%;
}
.tianmaobiguang_bottom{
    width: 10rem;
    height: 2.916rem;
}
.tianmaobiguang_bottom ul li:nth-child(1){
    width: 2.5rem;
    height: 2.938rem;
    float: left;
    background: url("../img/R1.png");
    background-size: 100% 100%;
}
.tianmaobiguang_bottom ul li:nth-child(2){
    width: 2.5rem;
    height: 2.938rem;
    float: left;
    background: url("../img/R2.jpg");
    background-size: 100% 100%;
}
.tianmaobiguang_bottom ul li:nth-child(3){
    width: 2.5rem;
    height: 2.938rem;
    float: left;
    background: url("../img/R3.jpg");
    background-size: 100% 100%;
}
.tianmaobiguang_bottom ul li:nth-child(4){
    width: 2.5rem;
    height: 2.938rem;
    float: left;
    background: url("../img/R4.jpg");
    background-size: 100% 100%;
}

/*天猫必选结束*/
/*特色好货开始*/
.tesehaohuo{
    width: 10rem;
    height: 6.676rem;
    background: #eeeeee;
}
.tesehaohuo_top{
    width: 10rem;
    height: 0.844rem;
    background: #ffffff;;
    text-align: center;
    font-size: 13px;
    line-height:0.844rem;
}
.tesehaohuo_top a{
    color: red;
}
[data-dpr="2"] .tesehaohuo_top{
    font-size: 26px;
}
[data-dpr="3"] .tesehaohuo_top{
    font-size: 39px;
}
.tesehaohuo_centet{
    width: 10rem;
    height: 2.916rem;
}
.tesehaohuo_centet ul li:nth-child(1){
    width: 3.828rem;
    height: 2.916rem;
    float: left;
    background: url("../img/Q1.png");
    background-size: 100% 100%;
}
.tesehaohuo_centet ul li:nth-child(2){
    width: 2.057rem;
    height: 2.916rem;
    float: left;
    background: url("../img/Q2.jpg");
    background-size: 100% 100%;
}
.tesehaohuo_centet ul li:nth-child(3){
    width: 2.057rem;
    height: 2.916rem;
    float: left;
    background: url("../img/Q3.png");
    background-size: 100% 100%;
}
.tesehaohuo_centet ul li:nth-child(4){
    width: 2.057rem;
    height: 2.916rem;
    float: left;
    background: url("../img/Q4.png");
    background-size: 100% 100%;
}
.tesehaohuo_bottom{
    width: 10rem;
    height: 2.916rem;
}
.tesehaohuo_bottom ul li:nth-child(1){
    width: 3.828rem;
    height: 2.916rem;
    float: left;
    background: url("../img/W1.png");
    background-size: 100% 100%;
}
.tesehaohuo_bottom ul li:nth-child(2){
    width: 2.057rem;
    height: 2.916rem;
    float: left;
    background: url("../img/W2.png");
    background-size: 100% 100%;
}
.tesehaohuo_bottom ul li:nth-child(3){
    width: 2.057rem;
    height: 2.916rem;
    float: left;
    background: url("../img/W3.png");
    background-size: 100% 100%;
}
.tesehaohuo_bottom ul li:nth-child(4){
    width: 2.057rem;
    height: 2.916rem;
    float: left;
    background: url("../img/W4.jpg");
    background-size: 100% 100%;
}
/*特色好货结束*/
/*更多开始*/
.gengduofuwu{
    width: 10rem;
    height: 0.953rem;
    background: #ffffff;
    z-index: 1;
    position: relative;
    border-top: 0.0333rem #eee solid;
}
.gengduofuwu_left{
    position: absolute;
    background: url("../img/XTBsan.png");
    background-size: 100% 100%;
    width: 5rem;
    height: 1rem;
}
.gengduofuwu_center{
    position: absolute;
    right: 1rem;
    top: 0.3rem;
    font-size: 13px;
}
[data-dpr="2"] .gengduofuwu_center{
    font-size: 26px;
}
[data-dpr="3"] .gengduofuwu_center{
    font-size: 39px;
}
.gengduofuwu_right{
    position: absolute;
    background: url("../img/youJT.png");
    background-size: 100% 100%;
    width: 0.6rem;
    height: 0.6rem;
    right: 0.2rem;
    top: 0.2rem;
}
/*更多结束*/
/*图片开始*/
.tupian{
    width: 10rem;
    height: 2rem;
    background: url("../img/tupian.png");
    background-size: 100% 100%;
    margin-top: 0.1rem;
}
/*图片结束*/

/*每日好店开始*/
.meirihaodian{
    width: 10rem;
    height: 0.953rem;
    background: #ffffff;
    z-index: 1;
    position: relative;
    border-top: 0.0333rem #eee solid;
}
.meirihaodian_left{
    position: absolute;
    top: 0.3rem;
    font-size: 13px;
    left: 0.3rem;
}
[data-dpr="2"] .meirihaodian_left{
    font-size: 26px;
}
[data-dpr="3"] .meirihaodian_left{
    font-size: 39px;
}
.meirihaodian_center{
    position: absolute;
    right: 1rem;
    top: 0.3rem;
    font-size: 13px;
}
[data-dpr="2"] .meirihaodian_center{
    font-size: 26px;
}
[data-dpr="3"] .meirihaodian_center{
    font-size: 39px;
}
.meirihaodian_right{
    position: absolute;
    background: url("../img/youJT.png");
    background-size: 100% 100%;
    width: 0.6rem;
    height: 0.6rem;
    right: 0.2rem;
    top: 0.2rem;
}
.meiri{
    width: 10rem;
    height: 4rem;
}
.meiri .swiper-container span{
    font-size: 13px;
}
[data-dpr="2"] .meiri .swiper-container span{
    font-size: 26px;
}
[data-dpr="3"] .meiri .swiper-container span{
    font-size: 39px;
}




.meiri .swiper-container .TP_left{
    width: 4.813rem;
    height: 4rem;
    float: left;
}
.meiri .swiper-container .TP_left .TP_left_D{
    width: 3.125rem;
    height: 3.288rem;
    float: left;
    background: url("../img/BING1.jpg") no-repeat;
    background-size: 100% 100%;
}
.meiri .swiper-container .TP_left .TP_left_X{
    width: 1.563rem;
    height: 3.288rem;
    float: right;
}
.meiri .swiper-container .TP_left .TP_left_X_A{
    width: 1.563rem;
    height: 1.563rem;
    float: right;
    background: url("../img/BING2.jpg") no-repeat;
    background-size: 100% 100%;
}
.meiri .swiper-container .TP_left .TP_left_X_B{
    width: 1.563rem;
    height: 1.563rem;
    float: right;
    background: url("../img/BING3.jpg") no-repeat;
    background-size: 100% 100%;
    margin-top: 0.17rem;
}
.meiri .swiper-container .TP_right{
    width: 4.813rem;
    height: 3.781rem;
    float: left;
    margin-left: 0.187rem;
}
.meiri .swiper-container .TP_right .TP_right_D{
    width: 3.125rem;
    height: 3.288rem;
    float: left;
    background: url("../img/HB1.jpg");
    background-size: 100% 100%;
}
.meiri .swiper-container .TP_right .TP_right_X{
    width: 1.563rem;
    height: 3.288rem;
    float: right;
}
.meiri .swiper-container .TP_right .TP_right_X_A{
    width: 1.563rem;
    height: 1.563rem;
    float: right;
    background: url("../img/HB2.jpg");
    background-size: 100% 100%;


}
.meiri .swiper-container .TP_right .TP_right_X_B{
    width: 1.563rem;
    height: 1.563rem;
    float: right;
    background: url("../img/HB3.jpg");
    background-size: 100% 100%;
    margin-top: 0.17rem;
}
/*每日好店结束*/
/*猜你喜欢开始*/
.cai_top{
    width: 10rem;
    height: 1.469rem;
    background: #eee;
    position: relative;
}
.cai_top .cai_top_A{
    width: 3rem;
    height: 0.469rem;
    margin: auto;
    text-align: center;
}

.cai_top .cai_top_A p span{
    width: 3rem;
    height: 0.469rem;

}
.cai_top .cai_top_A span{
    line-height: 0.8rem;
}
.cai_top .cai_top_A img{
   line-height: 0.469rem;
}
.cai_top .cai_top_B{
    width: 4.5rem;
    height: 0.469rem;
    margin: auto;
    margin-top: 0.3rem;
    text-align: center;
}



.cai_bottom_A{
    width: 10rem;
    height: 6rem;
    background: #eee;
}
.cai_bottom_A .cai_bottom_left{
    width: 4.95rem;
    height:6rem;
    float: left;
}
.cai_bottom_A .cai_bottom_left img{
    width: 4.95rem;
    height: 4.8rem;
}
.cai_bottom_A .cai_bottom_right{
    width: 4.95rem;
    height: 6rem;
    float: right;
}
.cai_bottom_A .cai_bottom_right img{
    width: 4.95rem;
    height: 4.8rem;
}
.cai_bottom{
    width: 10rem;
    height: 6rem;
    background: #eee;
}
.cai_bottom .cai_bottom_left{
    width: 4.95rem;
    height:6rem;
    float: left;
}
.cai_bottom .cai_bottom_left img{
    width: 4.95rem;
    height: 4.8rem;
}
.cai_bottom .cai_bottom_right{
    width: 4.95rem;
    height: 6rem;
    float: right;
}
.cai_bottom .cai_bottom_right img{
    width: 4.95rem;
    height: 4.8rem;
}
/*猜你喜欢结束*/
/*最下面界面开始*/
.footer{
    width: 10rem;
    height: 4rem;
    background:#292c33;
    font-size: 13px;
}
[data-dpr="2"] .footer{
    font-size: 26px;
}
[data-dpr="3"] .footer{
    font-size: 39px;
}
.footer ul{
    width: 8rem;
    height: 0.9rem;
    margin: auto;
    padding-top: 0.3rem;
}
.footer ul li{
    width: 1.7rem;
    height: 0.9rem;
    float: left;
    border: 2px solid #42454d;
    text-align: center;
    margin-left: 0.2rem;
}
.footer ul li a{
    color: #c3c6ca;
    line-height: 0.9rem;
}
.footer span{
    width: 6rem;
    text-align: center;
    height: 0.9rem;
    margin: auto;
    color: #c3c6ca;
    display: block;
    margin-top: 0.5rem;
}
/*最下面界面结束*/

/*切换列表开始*/
.qiehuantubiao{
    width: 10rem;
    height: 1.413rem;
    background: white;
    margin-top: 0.2rem;
    position: fixed;
    bottom: 0;
}
.qiehuantubiao ul{
    list-style: none;
    float: left;
}
.qiehuantubiao ul li{
    width: 2rem;
    height: 1.413rem;
    line-height: 0.3rem;
    display: block;
    float: left;
    text-align: center;
    padding-top: 0.3rem;
}
.qiehuantubiao ul li span{
    display: block;
    width: 2rem;
    margin-top: 0.3rem;
    font-size: 13px;
}

.qiehuantubiao ul li span{
    font-size: 13px;
}
[data-dpr="2"] .qiehuantubiao ul li span{
    font-size: 26px;
}
[data-dpr="3"] .qiehuantubiao ul li span{
    font-size: 39px;
}
.qiehuantubiao ul li i{
  font-size: 26px;
}
[data-dpr="2"] .qiehuantubiao ul li i{
    font-size: 39px;
}
[data-dpr="3"] .qiehuantubiao ul li i{
    font-size: 52px;
}


/*切换列表结束*/
