/*header开始*/
header{
    width: 10rem;
    height: 1rem;
}
.D{
    width: 10rem;
    margin: auto;
}
header ul li{
    width: 2.48rem;
    height: 1rem;
    float: left;
    text-align: center;
    line-height: 1rem;
    border-right: 0.01rem  solid #eee;
    font-size: 13px;
}
[data-dpr="2"] header ul li{
    font-size: 26px;
}
[data-dpr="3"] header ul li{
    font-size: 39px;
}
/*header结束*/

/*轮播图开始*/
.swiper-wrapper{
    width: 10rem;
}
.lunbotu img{
    width: 10rem;
}
/*轮播图结束*/

/*中间部分开始*/
.center{
    width: 10rem;
}
.center p{
    width: 9rem;
    height: 0.5rem;
    font-size: 10px;
    margin-top: 0.6rem;
}
[data-dpr="2"] .center p{
    font-size: 20px;
}
[data-dpr="3"] .center p{
    font-size: 30px;
}

.center span{
    width: 5rem;
    height: 0.4rem;
    font-size: 26px;
    color: red;
    display: block;
    margin-top:0.2rem ;
    margin-left: 0.1rem;
}
.center i{
    width: 5.5rem;
    height: 0.4rem;
    font-size:13px;
    color: red;
    display: block;
    margin-top:0.2rem ;
    margin-left: 0.2rem;
    font-style: normal;

}
[data-dpr="2"] .center  i {
    font-size: 26px;
}
[data-dpr="3"] .center i{
    font-size: 39px;
}
[data-dpr="2"] .center span {
    font-size: 39px;
}
[data-dpr="3"] .center span{
    font-size: 52px;
}
.center div{
    width: 9.5rem;
    height: 0.5rem;
    margin: auto;
    padding-top: 0.4rem;
}
.center div ul li{
    width: 3rem;
    height: 0.5rem;
    float: left;
    font-size: 13px;

}
[data-dpr="2"] .center div ul li {
    font-size: 26px;
}
[data-dpr="3"] .center div ul li{
    font-size: 39px;
}
/*中间部分结束*/